KERNELS=="1-2:1.0", KERNEL=="ttyACM*", MODE:="0777", GROUP:="dialout", SYMLINK+="head_yaw"
KERNELS=="1-6:1.0", KERNEL=="ttyACM*", MODE:="0777", GROUP:="dialout", SYMLINK+="gripper_left"
KERNELS=="1-5:1.0", KERNEL=="ttyACM*", MODE:="0777", GROUP:="dialout", SYMLINK+="gripper_right"

##camera
SUBSYSTEM=="video4linux", SUBSYSTEMS=="usb", KERNELS=="2-4:1.0", ATTR{index}=="0", SYMLINK+="camera_left"
SUBSYSTEM=="video4linux", SUBSYSTEMS=="usb", KERNELS=="2-1:1.0", ATTR{index}=="0", SYMLINK+="camera_right"
SUBSYSTEM=="video4linux", SUBSYSTEMS=="usb", KERNELS=="2-3:1.0", ATTR{index}=="0", SYMLINK+="camera_head"
